.items {
  height: 15rem;
  .total-user {
    background-color: #a0d911;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
  .total-invoice {
    background-color: #ffec3d;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
  .new-product {
    background-color: #1890ff;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
}
